body {
    background-color: #42515c !important;
}
.row-padding {
    padding-top: 15px;
    padding-bottom: 15px;
}

.slogan {
    margin-top: 211px;
    margin-bottom: 15px;

    padding-top: 6px;
    padding-bottom: 6px;
    text-shadow: 0 -1px 1px rgb(0, 0, 0);
    color: #f4e5e2;
}

.gradient {
    background: linear-gradient(to right, rgba(255, 255, 255, 0), #210000);
}

.content-background {
    position:static;
    background:linear-gradient(to bottom, rgba(255, 255, 255, 0), #43515c) repeat-y, url(https://coffeebrothers.ru/textbody_x2.jpg) no-repeat 0 0,
#000000 repeat-y;
    background-size: cover;
    background-position: top, top, bottom;
    height: 424px
}

.black-text {
    color: #333333 !important;
}

.order-button {
    float: right;
    margin-right: 15px;
    position: static;
    z-index: 10;
    /*top: 441px;*/
    /*right: 15px;*/
    /*margin-left: -62px;*/
    font-size: 18px !important;
    padding: 8px 114px !important;
}

.text-decor-none {
    text-decoration: none !important;
}

.modal-background {
   background: url("https://coffeebrothers.ru/sidebarbody4.png") -102px -169px no-repeat;
}

.order-modal {
    background-image: linear-gradient(to bottom, rgba(47, 0, 0, 0.1), rgba(41, 0, 0, 0.4));
    background-position:  right;
    background-repeat: no-repeat;
    background: -moz-linear-gradient(to bottom, rgba(47, 0, 0, 0.1), rgba(41, 0, 0, 0.4)), -webkit-gradient(to bottom, rgba(47, 0, 0, 0.1), rgba(41, 0, 0, 0.4)), -ms-linear-gradient(to bottom, rgba(47, 0, 0, 0.1), rgba(41, 0, 0, 0.4));
}